<div class="login-screen">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="login-form">
            {{ form_widget(form) }}
                <input type="submit" class="btn btn-large btn-primary btn-block" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div>