{% extends '::base.html.twig' %}

{% block body %}
    <div class="login-screen">
        <form action="{{ path('link_custom') }}" method="post" {{ form_enctype(form) }}>
            <div class="login-form">
                <div class="control-group">
                    {{ form_widget(form) }}
                    <input type="submit" id="_submit" name="_submit" class="btn btn-large btn-primary btn-block" value="Shorten" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
